* {
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#nav {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
    background-color: hsl(0, 0%, 96%);
}

.nav-button {
    text-align: center;
    width: 100%;
    height: 3em;
    border: none;
    padding: 0;
    color: rgb(48, 57, 66);
    background-color: hsl(0, 0%, 96%);
    outline: none;
}

.selected {
    color: #fff;
    background-color: rgb(56, 121, 217);
}

#drag-n-drop {
    position: absolute;
    right: -3;
    top: 0;
    bottom: 0;
    width: 7px;
    cursor: w-resize;
    z-index: 9999;
}

#drag-n-drop .bar {
    background-color: rgb(64%, 64%, 64%);
    position: absolute;
    right: 3;
    top: 0;
    bottom: 0;
    width: 1px;
}

#main {
	width: 80%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}